/** @format */

:root {
  --main-black: #212121;
  --main-purple: #9a99ff;
  --main-yellow: #e6db74;
  --main-blue: #2fcbef;
  --main-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--main-black);
  font-family: "VT323", monospace;
}
